.x-gallery {

    .dataview {
        overflow-y:scroll !important;
        background-color: #333;
        @include box-shadow(#111 1px 1px 7px -3px inset);
    }

    .item-wrap {

        @include box-sizing(content-box);
        z-index: 1;
        float: left;
        position:relative;

        background: transparent;
        background-size: cover;

        .thumbnail {
            display: block;
            @include transition-duration(250ms);
        }

        &.file {
            background-color: transparent;
        }

        .icon {
            text-align: center;
            font-size: 3em;
            color: #fff;
            top: 25%;
            position: absolute;
            width: 100%;
        }

        .thumbnail.loading {
            opacity:0;
        }

        .filename {
            position: absolute;
            bottom: 0;
            padding: 10px;
            margin: 0;
            background-color: #111;
            background-color: rgba(0,0,0, 0.6);
            color: #f0f0f0;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        progress {
            position:absolute;
            top:50%;
            height: 10px;
            width: 90%;
            margin: -5px 0 0 5%;
        }

        .fake-border {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            pointer-events:none;
            border: 1px solid #555;
        }

        .placeholder {
            display:none;
            position:absolute;
            left:-11px;
            top:5%;
            height:90%;
            width: 2px;
            background-color:#222;
        }

        &:hover {

            .fake-border {
                border-color: rgba(255, 238, 142, 0.55);
                border-width: 4px;
            }
        }

        &.x-item-selected {

            .fake-border {
                border-color: rgba(255, 238, 142, 0.95);
                border-width: 6px;
            }
        }

        &.on-drag {
            opacity: 0.5;
            border-style:dashed;
            z-index: 10;
        }

        &.drop-ok {
            .placeholder {
                display:block;
            }
        }

        &.drop-after {
            .placeholder {
                right:-11px;
                left:auto;
            }
        }
    }
}
